{{ define "GET /blog/{page...}" }}
  {{ template "/.parts/head.html" .}}
  {{ $page := or (.Req.PathValue "page") 0 }}
  {{ $offset := mul $page 5 }}
  <ul>
    {{range .DB.QueryRows `SELECT * from blogposts ORDER BY published_at DESC LIMIT 5 OFFSET $1` $offset}}
    {{ template "/.parts/postslist.html" .}}
    {{end}}
  </ul>
  <p>
    {{ if ne 0 $offset }}
      <strong><a href="/blog/{{sub $page 1}}">Next</a></strong>
    {{ end }}
    {{ if gt (.DB.QueryVal `SELECT count(*) FROM (SELECT 1 FROM blogposts ORDER BY published_at DESC LIMIT 1 OFFSET $1) AS subquery;
  ` (add $offset 1)) 0 }}
      <strong><a href="/blog/{{add 1 $page}}">Previous</a></strong>
    {{ end }}
  </p>
  {{ template "/.parts/foot.html" .}}
{{ end }}
