{
    debug
}

swagger.localhost {
    tls internal
    reverse_proxy http://swagger:8080
}

api.localhost {
    tls internal
    reverse_proxy http://api:3000
}

*.localhost, localhost {
    tls internal
    root * /usr/share/caddy
    file_server
}
